<!-- notice-board.html (공지사항) -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="frontend/styles.css">
    <title>포인트샵</title>

    <script>
        function buyNicknameChange(){
            url="/buyNicknameChange.php";
            let option = "width = 500, height = 500, top = 100, left = 200, location = no";
            window.open(url,"checkNickname",option);
        }
    </script>
</head>

<body>
    {% include 'templates/header.html' %}

    {% include 'templates/nav.html' %}

    <section>
        <h1>보유 포인트: {{point}}</h1>
            <article>
                <h2>닉네임 변경권</h2>
                <button onclick="buyNicknameChange()">구매 </button>
                <p>필요 포인트: <span id="pointValue"></span>100 p</p>

            </article>

        <!-- 추가적인 공지사항 항목을 필요에 따라 추가 -->
    </section>

    <footer>
        © 2024 CodeSnack. All rights reserved.
    </footer>
</body>

</html>