<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="frontend/styles.css">
    <title>글쓰기</title>
</head>

<body>

    {% include 'templates/header.html' %}

    {% include 'templates/nav.html' %}

    <section id="upload_content">
        <form enctype="multipart/form-data" action="/post_result.php" method="post">
            <div id="write-post-top">
                <select id="board-select" name="board">
                    <option value="0">공지사항</option>
                    <option value="1">자유 게시판</option>
                    <option value="2">장터 게시판</option>
                    <option value="3">건의 게시판</option>
                    <option value="4">QnA 게시판</option>
                </select>
                <input type="text" id="title" name="title" placeholder="제목을 입력하세요" required>
            </div>
            <label for="content">내용:</label>
            <textarea id="content_area" name="content" rows="8" required></textarea>
            <div id="upload_container">
                <div>
                    <label for="image">이미지 첨부:</label>
                    <input type="file" id="image" name="image">
                </div>
                
                <button id="upload_content_button" type="submit">글 올리기</button>
            </div>
        </form>
    </section>

    <footer>
        © 2024 CodeSnack. All rights reserved.
    </footer>

</body>

</html>
