<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/styles.css}" />
        <title>비밀번호 찾기</title>
    </head>
    <body>
        <header>
            <div class="header-top">
                <!-- 로그인 성공 시에만 유저의 닉네임과 로그아웃 버튼을 표시 -->
                <span th:if="${session.user}">
                    <span th:text="${session.user}">User</span>
                    <a th:href="@{/logout}">로그아웃</a>
                </span>
                <!-- 로그인하지 않은 경우에 로그인과 회원가입 버튼을 표시 -->
                <span th:unless="${session.user}">
                    <a th:href="@{/login}">로그인</a>
                    <a th:href="@{/register}">회원가입</a>
                </span>
            </div>
            <div class="header-main">
                <h1 class="header-title"><a th:href="@{/}">CodeSnack</a></h1>
            </div>
        </header>

        <nav>
            <div class="nav-left">
                <a th:href="@{/}">홈</a> | <a th:href="@{/noticeBoard}">공지사항</a> |
                <a th:href="@{/freeBoard}">자유 게시판</a> |
                <a th:href="@{/marketBoard}">장터 게시판</a> |
                <a th:href="@{/suggestionsBoard}">건의 게시판</a> |
                <a th:href="@{/qnaBoard}">QnA 게시판</a> |
                <a th:href="@{/pointShop}">포인트샵</a>
            </div>
            <div class="search-box">
                <form th:action="@{/search}" method="get">
                    <input type="text" id="searchInput" name="q" placeholder="검색어를 입력하세요">
                    <button type="submit">검색</button>
                </form>
            </div>
    
        </nav>

    <section id="find-pw-section">
        <h2>비밀번호 변경</h2>

        <form action="/resetPassword" method="post">
            <label for="id">아이디:</label>
            <input type="text" id="id" name="id" required>

            <label for="username">이름:</label>
            <input type="text" id="username" name="username" required>

            <label for="question" id="questionLabel">비밀번호 분실 시 질문 및 답변:</label>
            <select id="question" name="question">
                <option value=1>출생지는 어디인가요?</option>
                <option value=2>가장 친한 친구의 이름은 무엇인가요?</option>
                <option value=3>좋아하는 동물은 무엇인가요?</option>
            </select><br>
            <label for="answer"></label>
            <input type="text" id="answer" name="answer" required><br>

            <label for="password">비밀번호 변경:</label>
            <input type="password" id="password" name="password" required>

            <label for="password_re">비밀번호 변경 확인:</label>
            <input type="password" id="password_re" name="password_re" required>
            
            <button type="submit">비밀번호 변경</button>
        </form>

    </section>

    <footer>
        © 2024 CodeSnack. All rights reserved.
    </footer>
</body>
</html>
