<section>
    {% for post in posts %}
    {% if post.postType == boardType%} {# 0: 공지사항, 1: 자유게시판, 2: 장터게시판, 3: 건의 게시판, 4: QnA 게시판#}
    <a href="/index.php?board={{ board }}-text&postId={{post.postId}}">
        <article>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p>Posted by {{post.nickname}} at {{ post.timeStamp }}</p>
        </article>
    </a>
    {% endif %}
    {% endfor %}


    <div align="center" style="font-size: 20px;">
        {% for i in 1..totalPage %}
        {% if i == currentPage %}
        <b><a href="?board={{board}}-board&currentPage={{i}}"> {{i}} </a></b>
        {% else %}
        <a href="?board={{board}}-board&currentPage={{i}}"> {{i}} </a>
        {% endif %}
        {% endfor %}
    </div>
</section>