<section>
        {% for post in posts %}
        {% if post.postId ==  postId %}
        <div class="text">
          <div class="title">{{post.title}}</div>
          <div class="content">{{post.content}}</div>
          <div class="image">{{post.image}}</div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="comment_form">
          <!--댓글 작성 폼-->
          <h2>댓글 작성</h2>
          <form method="post">
            <label for="comment">댓글 내용</label>
            <textarea id="comment" name="comment" rows="4"></textarea>
            <button type="submit">등록</button>
          </form>
        </div>

        <div class="comment_list">
          <!-- 댓글 리스트  -->
          <h2>댓글 목록</h2>
          <ul>
            <li>
              <div class="comment_info">
                <span class="comment_author">닉네임</span>
              </div>
              <div class="comment_text">댓글 내용</div>
            </li>
            <li>
              <div class="comment_info">
                <span class="comment_author">닉네임</span>
              </div>
              <div class="comment_text">댓글 내용2</div>
            </li>
          </ul>
        </div>
      </div>
    </section>